@import 'styles/mixins';

.page {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%; // 100%
    width: 100%;
    overflow-x: hidden;
    
}

.header {
    display: flex;
    flex-direction: column;
    height: 582px;
    width: 100%;
    margin-top: -80px;
    background: linear-gradient(to bottom, rgba(180,204,221,1) 0%, rgba(232,236,239,1) 60%);
    @include xs-to-md{
        background: linear-gradient(to bottom, rgba(180,204,221,1) 0%, rgba(255,255,255,1) 70%);
    }
   
    @include xs-to-md {
        height: 290px;
    }

}


.headerMobile{
    display: none;
    @include xs-to-md {
        display: flex;
        flex-direction: column;
        //background-color: darkorange;
        width: 100%;
        height: 300px;
        margin-top: -200px;
    }
}

.headerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //background-color: darkcyan;
    height: 100%;
    padding-left: 10px;
}

.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 140px;
    max-width: 851px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
   
    @include xs-to-md{
        display: none;
    }
}

.motto {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 36px;
    font-weight: 900;
}

.mottoMobile {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 36px;
    font-weight: 900;
    z-index: 999;
}

.highlighted{
   
    color: #3cafeb;
    
}

.highlightedMotto{
   
    color: #3cafeb;
   
    max-width: 200px;
    
}
.plane {
   
    padding:20px;
    width: 442px;
    height: 300px;
}

.lower {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    @include xs-to-md{
        display: none;
    }
}

.safety {
    margin-top: -50px;
    background-color: white;
    height: 334px;
}

.mountains{
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
   // background-color: darkcyan;
    height: auto;
    width: 1000px;

    @include xs-to-md{
        display: none;
    }
}

.right {
    display: flex;
    flex-direction: column;
   // background-color: tomato;
    align-items: center;
    max-width: 550px;
    
}

.mountainsMobile{
    margin-top: auto;
    margin-left: -50%;
    margin-right: auto;
    margin-bottom: auto;
    height: auto;
    width: 150%;

}

.clouds{
    
    margin-top: -100px;
   width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.cloudsMobile{
    
    
   width: 150%;

    margin-top: -110px;
    margin-left:-50%;
    margin-right: auto;
    margin-bottom: auto;

}

.start {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    border-radius: 16px;
    background-color: rgba(234,234,234,1);
    height: 40px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(9, 30, 66, 0.40) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    z-index: 999;

}

.startMobile {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    border-radius: 16px;
    background-color: rgba(234,234,234,1);
    height: 40px;
    width: 80%;
    
    margin-left: 10px;
    max-width: 400px;
    box-shadow: rgba(9, 30, 66, 0.40) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    z-index: 999;

}

.searchIcon, .clearIcon {
    font-size: 24px;
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-start;
    color: #3cafeb;
    margin-left: 4px;
  
}

.startText {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
    font-size: 18px;
    color: #4d4d4d;
  }

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    @include xs-to-md{
        margin-top: 0px;
    }
    height: 80px;
    width: 100%;
    justify-content: space-between;

    padding-left: 15px;   
    padding-right: 15px;
    z-index: 999;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    
}

.logo {
    width: 123px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.login {
    font-size: 16px;
    color: #1697dc;
    margin-top: auto;
    margin-bottom: auto;
}
.mobileLogin {
    display: none;
    @include xs-to-md{
        display: flex;
        font-size: 16px;
    color: #1697dc;
    margin-top: auto;
    margin-bottom: auto;
    }
    
   
}

.actions {
    @include xs-to-md{
        display:none;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    
}

.featured {
    @include xs-to-md {
        margin-top: 60px;
        display:none;
    }
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    background-color: #070611;
    width: 100%;
   
}

.featuredMobile {
    display:none;
    @include xs-to-md {
        margin-top: 60px;
        margin-top: 10vw;
        display: flex;
        flex-direction: column;
        background-color: #070611;
        width: 100%;
    }
   
}

.content {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    height: 490px;
    
    padding-left: 10px;
}

.title {
    margin-top: 30px;
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

.howItWorks{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    min-height: 500px;
}

.content2 {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
 padding-bottom: 100px;
    
    padding-left: 10px;
}

.title2 {
    margin-top: 30px;
    font-size: 28px;
    color: black;
    margin-bottom: 20px;

}

.title3 {
    margin-top: 30px;
    font-size: 28px;
    color: black;
    @include xs-to-md {
        color: white;
    }
    margin-bottom: 20px;

}

.innerContent{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto;
}

.hwitem {
    display: flex;
    flex-direction: column;
    //background-color: red;
    height: 97px;
    width: 400px;
    margin: 10px;
    margin-bottom: 20px;
}

.hwitemIndex {

    color:#3cafeb;
    font-size: 17px;
}
.hwitemTitle {
    margin-top: 5px;
    color: #4d4d4d;
    font-size: 18px;
    margin-bottom: 5px;
}
.hwitemTitle2 {
    margin-top: 5px;
   
    font-size: 18px;
    margin-bottom: 5px;
    background-image: -webkit-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
    background-image: -moz-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
    background-image: -o-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
     background-image: linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
     display: inline-block;
     /* Set the background size and repeat properties. */
     background-size: 100%;
     background-repeat: repeat;
  
     /* Use the text as a mask for the background. */
     /* This will show the gradient as a text color rather than element bg. */
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.hwitemTitle3 {
    
    margin-top: 5px;
   
    font-size: 18px;
    margin-bottom: 5px;
    background-image: -webkit-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
    background-image: -moz-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
    background-image: -o-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
     background-image: linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
     display: inline-block;
     /* Set the background size and repeat properties. */
     background-size: 100%;
     background-repeat: repeat;
  
     /* Use the text as a mask for the background. */
     /* This will show the gradient as a text color rather than element bg. */
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    margin-left: auto;
    padding-right: 10px;
}


.hwitemSubtitle {
    color: #989696;
    font-size: 15px;
    width: 80%;
    margin-bottom: 20px;
    max-width: 300px;
}

.technology {
  display: none;
  @include xs-to-md {
      display:flex;
      flex-direction: column;
      width: 100%;
      height: 600px;
      background-color: black;
  }
}
.technologyImage{
    width: 279px;
    height: 261px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.description {
    padding-left: 10px;
    margin-top: 50px;
    font-size: 18px;
    color: #b6b6b6;
    width: 90%;
}

.description4 {
    
    line-height: 20px;
    font-size: 15px;
    color: #b6b6b6;
    width: 80%;
    max-width: 300px;


}

.description5 {
    margin-top: 5px;
    line-height: 22px;
    font-size: 18px;
    color: #b6b6b6;

}

.data {
    display: none;
  @include xs-to-md {
      display:flex;
      flex-direction: column;
      width: 100%;
      height: 500px;
      background-color: white;
  }
}

.description2 {
    padding-left: 10px;
    margin-top: 50px;
    font-size: 18px;
    color: #989696;
    width: 90%;
}

.sided {
    display: flex;
    flex-direction: row;
    height: 180px;
   
    justify-content: space-between;
}

.dataImage{
    width: 140px;
    height: 118px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.dataText {
    max-width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    background-image: -webkit-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
  background-image: -moz-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
  background-image: -o-linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
   background-image: linear-gradient(to right, rgba(127,148,221,1),rgba(9,150,224,1));
   display: inline-block;
   /* Set the background size and repeat properties. */
   background-size: 100%;
   background-repeat: repeat;

   /* Use the text as a mask for the background. */
   /* This will show the gradient as a text color rather than element bg. */
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   padding-right: 20px;
}

.techAndData{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: black;
    @include xs-to-md{
        display: none;
    }

}

.techSided{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 800px ;

    justify-content: space-around; 
    margin-left: auto;
    margin-right: auto;
}

.description3{
   
    margin-top: 50px;
    font-size: 18px;
    color: #b6b6b6;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features {

    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 500px;
    @include xs-to-md{
        background-color: black;
    }
    width: 100%;

}

.featureItem {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 97px;
    width: 400px;
    margin: 10px;
}

.footer {
    background-color: rgba(72,79,89,1);
    
    width: 100%;
    min-height: 50px;
    padding-top: 90px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 90px;
    
}

.footerContent {
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
    @include xs-to-md {
        flex-direction: column;
        
    }
}

.footer1 {
    
    display: flex;
    flex-direction: column;
    width: 100%;
}


.footer2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;

}


.horizontal{

display: flex;
flex-direction: row;
height: 350px;
width: 100%;
justify-content: center;
  
}

.horizontalItem {
    margin: 10px;
background-color: gray;
width: 100%;
max-width: 400px;
height: 300px;
border-radius: 16px;
border: 1px solid #333333;


}

.horizontalItemMobile {
    margin: 10px;
background-color: gray;
width: 100%;
max-width: 400px;
height: 300px;
border-radius: 16px;

margin-left: auto;
margin-right: auto;
}


.horizontalImage{
    width:100%;
    max-width: 400px;
    height: 300px;
    border-radius: 16px;
    z-index: 3;
    border: 1px solid #333333;
}
.imageTitle{
    text-shadow: 10px 10px 25px rgb(0,0,0),
    -10px 10px 25px rgb(0,0,0),
    -10px -10px 25px rgb(0,0,0),
    10px -10px 25px rgb(0,0,0);
    display: flex;
    margin-top: -105px;
   // background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 50%);
    z-index:999;
    color: white;
    font-size: 24px;
    font-weight: 400;
    position:absolute;
    width: 100%;
    max-width: 312px;
    height: 100px;
    justify-content: flex-end;
    justify-self: flex-end;
    border-radius: 0px 0px 16px 16px;
    align-items: center;
    
    
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: auto;
    

  border: 1px solid #333333;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  
}

.holder {
    width:100%;
    max-width: 400px;
    margin: 10px;
    background-color: red;

}