// Colors
$text-color: #1c1c1c;
$primary-color: #18b2f8;
$primary-color-light: #6495ce;
$primary-color-dark: #9292B0;
$disabled-text-color: #7c7c7c;
$bg-color: #fdfdfd;
$card-bg-color: #ffffff;
$active-text-color: $primary-color;
$highlight-bg-color: rgba($primary-color-light, 0.1);
$disabled-bg-color: #dcdcdc;
$border-color: #c0c0c0;
$light-text-color: #2b2b2b;
$inverted-text-color: #e3e3e3;
$navbar-color: $primary-color-dark;
$navbar-text-color: $inverted-text-color;


$white: #ffffff;
$black: #000000;

$navbar-height: 64px;
$border-radius: 8px;
